<h4>Index</h4>
<div>
<% @coupons.each do |coupon| %>
  <div><%= link_to coupon.coupon_code, coupon_path(coupon)%> | <%= coupon.store%> </div>
<% end %>
</div>
<br>
<%= link_to "Create coupon", new_coupon_path%>
